@model IEnumerable<ASM_1670.Models.JobApplication>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Job.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Cv.FullName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
              <td>
                @Html.DisplayFor(modelItem => item.Job.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverLetter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Cv.FullName)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.JobApplicationId">Edit</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.JobApplicationId">Details</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.JobApplicationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
